* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
  gap: 10px;
  background-color: grey;
}
#calculadora {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: auto;
  width: auto;
  background-color: black;
  border: 2px solid rgb(0, 195, 255);
}
input {
  margin: 15px;
  padding: 10px;
  background-color: white;
  border: 3px solid grey;
  border-radius: 5px;
  width: 220px;
  text-align: right;
}
#botones {
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
button {
  border: 1px solid grey;
  border-radius: 50%;
  background-color: rgba(179, 176, 176, 0.575);
  color: white;
  height: 45px;
  width: 45px;
  margin: 5px;
  padding: 10px;
}
button:active {
  border-color: transparent;
  background-color: rgba(48, 126, 87, 0.699);
}
